<div class="song">
    <div class="song-header">
        <div class="song-header-title">{title}</div>
        <div class="song-header-key">{key}</div>
        <div class="song-header-time">{time}</div>
        <div class="song-header-tempo">{tempo}</div>
        <div class="song-header-clear">&nbsp;</div>
    </div>
    <div class="song-sections">{arrangement}</div>
    <div class="song-notes">{notes}</div>
</div>

