@section Scripts
{
@Scripts.Render("~/bundles/editor")
@Styles.Render("~/Content/editor")
}
<div class="container">
    <div id="divInput">
        <h3>Editor</h3>
        <textarea id="textEditor">@Html.Partial("_sampleInput-TwelveBarBlues")</textarea>
    </div>
    <div id="divOutput"></div>
</div>
