/*          ___ __             _           __         
  ___  ____/ (_) /_____  _____(_)___  ____/ /__  _  __
 / _ \/ __  / / __/ __ \/ ___/ / __ \/ __  / _ \| |/_/
/  __/ /_/ / / /_/ /_/ / /  / / / / / /_/ /  __/>  <  
\___/\__,_/_/\__/\____/_(_)/_/_/ /_/\__,_/\___/_/|_|  

*/

#divInput > #textEditor {
    height: 800px;
}

#divInput {
    float: left;
    /*border: 1px solid black;*/
    padding-top: 60px;
}

#divOutput {
    float: left;
    padding: 2em;
    width: 800px;
}

#divTemplate {
    display: none;
}

.song {
    font-family: "Droid Sans", sans-serif;
}

/*.song-header {
    border: 3px solid black;
}*/

.song-header-title {
    /*border: 1px solid green;*/
    font-size: 21pt;
    margin-bottom: 10px;
}

.song-header-key, .song-header-time, .song-header-tempo {
    /*border: 1px solid aqua;*/
    font-size: 16pt;
    width: 32.9%;
    float: left;
}

.song-header-time {
    /*border: 1px solid blueviolet;*/
    text-align: center;
}

.song-header-tempo {
    /*border: 1px solid darkorange;*/
    text-align: right;
}

.song-header-clear {
    clear: both;
    height: 0;
}

.song-sections {
    border: 1px solid black;
    padding: 20px;
    font-size: 13pt;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
}

.song-sections-stanza {
    /*border: 1px solid green;*/
    padding-bottom: 30px;
    -webkit-column-break-inside: avoid;
    -moz-page-break-inside: avoid;
    page-break-inside: avoid;
    -webkit-break-inside: avoid;
    -moz-break-inside: avoid;
    -ms-break-inside: avoid;
    -o-break-inside: avoid;
    break-inside: avoid;
}

/*.song-sections-stanza-line {
    border: 1px solid yellow;
}*/

.song-sections-stanza-label {
    /*border: 1px solid red;*/
    font-weight: bolder;
}

.song-sections-stanza-measure {
    /*border: 1px solid lightcoral;*/
    margin-right: 15px;
    font-family: "Cutive Mono", cursive;
    font-size: 18pt;
    display: inline-block;
    min-width: 30px;
}

.song-notes {
    padding: 20px;
    font-size: 16pt;
    font-family: "Coming Soon", cursive;
}

.song-notes-label {
    font-weight: bold;
    margin-right: 10px;
}